*{user-select:none}

.App {
  text-align: center;
}

.Blob-Image {
  height: 40vmin;
  pointer-events: none;
}

.blobDiv{
  transition:0.2s ease all;
}
.blobDiv.on{
  transform:scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
  .Blob-Image {
    animation: Blob-Image-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Blob-Image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
